{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" style="background-color: #373d41; background-image:url(../static/picture/error2.jpg); background-size:100% 100%">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>




        <div class="container" style="background-color: #6e726e8c">
            <img src="../static/picture/error.gif" height="50%">
            <h1 >此网页发生了错误</h1>
            <h3>请重试，或联系管理员：hopekatian@foxmail.com</h3>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}