{% extends 'base.html' %}

{% block content %}

{#big picture#}
    <div class="jumbotron" role="navigation" style="background:url(../static/picture/big7.jpg);background-size:100% 100%;-moz-background-size:63px 100px;background-repeat:no-repeat;padding-top:24%;padding-bottom: 18%;padding-left: 32%;margin-bottom: -20px;" >

            <div>
                <h1  style="color:#e6e6e6;">袋鼠邻居</h1>
                <h3 class="text" style="color:#888888">——校园点对点个人定制任务交易平台——</h3>
            </div>
    </div>

{#video#}
    <div style="background-color: #373d41">
        <hr style="border:0;background-color: #888888;height:1px;">

        <div class="container-fluid">
            <div class="col-lg-12 " style="padding-bottom: 10%">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <video src="../static/video/info_small2.mp4" height="35%" width="100%" controls ></video>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>

{% endblock content %}