{% extends 'base.html' %}

{% block content %}
    <div class="container" style="color: inherit">

      <div class="starter-template">
        <h1 class="text-center">服务器：没找到你要的网页，并给你了一个404错误 :( </h1>
        <p class="text-center" style="color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6;">没有找到你输入的网址的页面哦</p>
        <p class="text-center" style="color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6;">网页飞到哪里去了呀？</p>
        <p class="text-center" style="color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6;">请检查网址输入是否有误<br>
            -_-</p>
      </div>

    </div><!-- /.container -->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock content %}
